#cpt_info_box{
	display: none !important;
}

.wp-admin #sorter_box{
	background: none;
	padding: 0;
}

.wp-admin #sorter_box h3{
	display: none; 
}

.wp-admin #catOrderedRadioBox{
	display: none; 
}

.acf-field-message{
	background: #ffffb2;
	padding-bottom: 7px !important;
}

.acf-field .description{
	font-size: 12px !important;
}

#post-body-content .acf-postbox{
	margin-top: 40px !important;
}

h2.hndle{
	display: none !important;
}

.acf-postbox .handlediv{
	display: none !important;
}